.sideMenu{
    position: fixed;
    z-index: 2;
    min-width: 230px;
    scrollbar-width: thin;
    overflow: hidden;
    height: calc(100vh - 42px);
    scrollbar-color: transparent;
    transition: all;
    bottom: 0;
}
.sideMenu:hover{
    overflow: visible;
    overflow-y: auto;
}
