.videoBox{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 18px;
}
.teste{
    margin-top: 80px;
    border-radius: 15px;
    overflow: hidden;
    width: 61.3%;
    height: 73.9%;
    display: flex;
}
.teste > div{
    position: relative;
    /* top: 2px; */
}