.videoBox{
    display: flex;
}
.teste{
    margin-top: 80px;
    border-radius: 15px;
    overflow: hidden;
    width: 61.3%;
    height: 67%;
    display: flex;
    min-width: 850px;
    min-height: 478px;
}
.teste > div{
    position: relative;
}